@charset "utf-8";


$background-color: #35495e;
$text-color: #FFF;
$primary: #41b883;


// Update some of Bulma's component variables
$body-background-color: $background-color;
$text: #FFF;
$link: $primary;
$link-hover: lighten($link, 30%);

// Import only what you need from Bulma
@import "../../node_modules/bulma/bulma.sass";