@charset "utf-8";


$background-color: #282C34;
$text-color: #FFF;
$primary: #15A4C3;


// Update some of Bulma's component variables
$body-background-color: $background-color;
$text: #FFF;
$link: $primary;
$link-hover: lighten($link, 30%);

// Import only what you need from Bulma
@import "../../node_modules/bulma/bulma.sass";

    



pre 
    background: #000;
    color: #FFF;
    